.customDiv{
    margin:10px;
    min-height:300px;
    background-color: rgba(192, 192, 192, 0);
    text-align:center;
    font-size:large;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.alert{
    background: skyblue;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
}


.alert{
    background: #eb6238;
    color: #FFFFFF;
    padding: 20px;
    margin-bottom: 20px;
}

.headerbackground{
    background: skyblue;
    color: #FFFFFF;

}

.navbar-text > a {
    color: inherit;
    text-decoration: none;
}



.headertext{
    font-family: 'Lato', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-family: 'Patua One', cursive;
}

.row-m-t{
    margin-top : 50px
}
[v-cloak] {display: none}
